<!-- Footer Component -->
<div>
    <footer>
        <p>Footer Here</p>
        <ul>
            <li><a href="http://localhost:4200/">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="questions">Questions</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
        </ul>
    </footer>
</div>